<?xml version="1.0" encoding="utf-8"?>
<!--================================================================================================================-->
<!--                                          DexForce Technology Co., Ltd                                          -->
<!--                                                                                                                -->
<!--                                       Robot URDF Model Generation Report                                       -->
<!--                                      Generation Time: 2026-07-17 10:45:52                                      -->
<!--                                  Version: DexForce URDF assembly manager V2.0                                  -->
<!--                                           Included Modules: left_arm                                           -->
<!--                            left_arm: {'version': 'v026', 'type': 'anthropomorphic'}                            -->
<!--================================================================================================================-->
<robot name="left_arm__v026__[Arms-anthropomorphic]">
  <link name="left_arm_base_link"> </link>
  <link name="base_to_left_arm_connector"> </link>
  <link name="left_arm_base"> </link>
  <link name="left_j1">
    <inertial>
      <origin xyz="1.0044215e-02 -1.9348277e-02 8.9797777e-02" rpy="0 0 0" />
      <mass value="1.409" />
      <inertia ixx="2.2157439e-03" ixy="1.3442042e-04" ixz="-1.0099560e-04" iyy="1.8405648e-03" iyz="5.0104429e-04" izz="9.2814485e-04" />
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="visual/left_arm/arml1.glb" />
      </geometry>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="collision/left_arm/arml1.obj" />
      </geometry>
    </collision>
  </link>
  <link name="left_j2">
    <inertial>
      <origin xyz="-3.2517305e-03 7.4056987e-02 1.1738886e-02" rpy="0 0 0" />
      <mass value="1.572" />
      <inertia ixx="1.4799549e-03" ixy="-8.8915753e-05" ixz="-2.3200705e-05" iyy="1.3074723e-03" iyz="2.1905329e-04" izz="1.7901376e-03" />
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="visual/left_arm/arml2.glb" />
      </geometry>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="collision/left_arm/arml2.obj" />
      </geometry>
    </collision>
  </link>
  <link name="left_j3">
    <inertial>
      <origin xyz="-8.3628082e-03 1.4121158e-02 -2.3247197e-02" rpy="0 0 0" />
      <mass value="1.545" />
      <inertia ixx="2.9144571e-03" ixy="1.4218994e-04" ixz="2.9614518e-04" iyy="2.7944082e-03" iyz="-4.6377628e-04" izz="1.3678615e-03" />
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="visual/left_arm/arml3.glb" />
      </geometry>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="collision/left_arm/arml3.obj" />
      </geometry>
    </collision>
  </link>
  <link name="left_j4">
    <inertial>
      <origin xyz="-9.2955365e-05 8.1979902e-02 4.7669462e-03" rpy="0 0 0" />
      <mass value="1.192" />
      <inertia ixx="1.5577057e-03" ixy="-3.4749498e-06" ixz="-4.4043010e-07" iyy="8.6531687e-04" iyz="2.3875332e-04" izz="1.4953333e-03" />
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="visual/left_arm/arml4.glb" />
      </geometry>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="collision/left_arm/arml4.obj" />
      </geometry>
    </collision>
  </link>
  <link name="left_j5">
    <inertial>
      <origin xyz="-3.6092128e-05 1.9610736e-02 1.0006215e-02" rpy="0 0 0" />
      <mass value="1.369" />
      <inertia ixx="2.3004383e-03" ixy="-6.4150312e-06" ixz="-5.7127218e-06" iyy="2.0182802e-03" iyz="-4.1130230e-04" izz="1.1217805e-03" />
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="visual/left_arm/arml5.glb" />
      </geometry>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="collision/left_arm/arml5.obj" />
      </geometry>
    </collision>
  </link>
  <link name="left_j6">
    <inertial>
      <origin xyz="-7.0680334e-03 -2.1204370e-04 -6.2159854e-03" rpy="0 0 0" />
      <mass value="1.207" />
      <inertia ixx="1.0080965e-03" ixy="4.9654648e-06" ixz="6.8629206e-06" iyy="1.0715720e-03" iyz="-9.2973068e-06" izz="7.8439081e-04" />
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="visual/left_arm/arml6.glb" />
      </geometry>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="collision/left_arm/arml6.obj" />
      </geometry>
    </collision>
  </link>
  <link name="left_j7">
    <inertial>
      <origin xyz="-5.7509463e-02 -1.2271763e-06 2.0788688e-02" rpy="0 0 0" />
      <mass value="1.285" />
      <inertia ixx="1.2435926e-04" ixy="3.2617933e-07" ixz="-8.5805836e-05" iyy="2.7693251e-04" iyz="1.5715920e-08" izz="2.2580021e-04" />
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="visual/left_arm/arml7.glb" />
      </geometry>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="collision/left_arm/arml7.obj" />
      </geometry>
    </collision>
  </link>
  <link name="left_ee"> </link>
  <joint name="BASE_TO_LEFT_ARM_CONNECTOR" type="fixed">
    <origin xyz="0 0.0985 0.227" rpy="-1.5707963267948966 -1.5707963267948966 0" />
    <parent link="left_arm_base_link" />
    <child link="base_to_left_arm_connector" />
  </joint>
  <joint name="LEFT_ARM_BASE" type="fixed">
    <origin xyz="0 0 0" rpy="0 0 0" />
    <parent link="base_to_left_arm_connector" />
    <child link="left_arm_base" />
  </joint>
  <joint name="LEFT_J1" type="revolute">
    <origin xyz="0 0 0" rpy="0 0 0" />
    <parent link="left_arm_base" />
    <child link="left_j1" />
    <axis xyz="0 0 1" />
    <limit lower="-2.9670597283903604" upper="2.9670597283903604" effort="51" velocity="3.141592653589793" />
  </joint>
  <joint name="LEFT_J2" type="revolute">
    <origin xyz="0 0 0.1025" rpy="1.5707963267948966 0 3.141592653589793" />
    <parent link="left_j1" />
    <child link="left_j2" />
    <axis xyz="0 0 1" />
    <limit lower="-2.0943951023931953" upper="1.5707963267948966" effort="51" velocity="3.141592653589793" />
  </joint>
  <joint name="LEFT_J3" type="revolute">
    <origin xyz="0 0.260 0.0" rpy="1.5707963267948966 -1.5707963267948966 3.141592653589793" />
    <parent link="left_j2" />
    <child link="left_j3" />
    <axis xyz="0 0 1" />
    <limit lower="-2.9670597283903604" upper="2.9670597283903604" effort="51" velocity="3.141592653589793" />
  </joint>
  <joint name="LEFT_J4" type="revolute">
    <origin xyz="0 0 0" rpy="1.5707963267948966 0 0" />
    <parent link="left_j3" />
    <child link="left_j4" />
    <axis xyz="0 0 1" />
    <limit lower="-2.356194490192345" upper="1.5707963267948966" effort="51" velocity="3.141592653589793" />
  </joint>
  <joint name="LEFT_J5" type="revolute">
    <origin xyz="0 0.166 0.0" rpy="-1.5707963267948966 3.141592653589793 0" />
    <parent link="left_j4" />
    <child link="left_j5" />
    <axis xyz="0 0 1" />
    <limit lower="-2.9670597283903604" upper="2.9670597283903604" effort="14" velocity="3.141592653589793" />
  </joint>
  <joint name="LEFT_J6" type="revolute">
    <origin xyz="0 0 0.098" rpy="1.5707963267948966 0 0" />
    <parent link="left_j5" />
    <child link="left_j6" />
    <axis xyz="0 0 -1" />
    <limit lower="-0.7853981633974483" upper="0.7853981633974483" effort="14" velocity="3.141592653589793" />
  </joint>
  <joint name="LEFT_J7" type="revolute">
    <origin xyz="0 0 0" rpy="-1.5707963267948966 3.141592653589793 1.5707963267948966" />
    <parent link="left_j6" />
    <child link="left_j7" />
    <axis xyz="0 0 1" />
    <limit lower="-1.5707963267948966" upper="1.0471975511965976" effort="14" velocity="3.141592653589793" />
  </joint>
  <joint name="LEFT_EE" type="fixed">
    <origin xyz="-0.066 0 0" rpy="0 -1.5707963267948966 0" />
    <parent link="left_j7" />
    <child link="left_ee" />
  </joint>
</robot>
