<?xml version='1.0' encoding='utf-8'?>
<robot name="marvin_m6_new_torso">
  <!---->
  <!---->
  <!-- Start of (links for part: torso) -->
  <link name="base_link">
    <inertial>
      <origin xyz="0.00403571850728641 0.000335695618980392 0.301505890307488" rpy="0 0 1.5707963267948966" />
      <mass value="63.8" />
      <inertia ixx="0.493610094338032" ixy="-0.00136699010100599" ixz="-4.109303853302E-06" iyy="0.510763192874308" iyz="6.8092702303E-06" izz="0.388114593314194" />
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 1.5707963267948966" />
      <geometry>
        <mesh filename="visual/glb/base_link.glb" />
      </geometry>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 1.5707963267948966" />
      <geometry>
        <mesh filename="collision/base_link.obj" />
      </geometry>
    </collision>
  </link>
  <link name="upper_body_base" />
  <!-- End of (links for part: torso) -->
  <!---->
  <!---->
  <!-- Start of (joints for part: torso) -->
  <joint name="UPPER_BODY_BASE" type="fixed">
    <origin xyz="-2.9142E-05 0 1.121" rpy="0 0 0" />
    <parent link="base_link" />
    <child link="upper_body_base" />
  </joint>
  <!-- End of (joints for part: torso) -->
</robot>
