<?xml version="1.0" encoding="utf-8"?>
<!--================================================================================================================-->
<!--                                          DexForce Technology Co., Ltd                                          -->
<!--                                                                                                                -->
<!--                                       Robot URDF Model Generation Report                                       -->
<!--                                      Generation Time: 2026-07-03 18:34:17                                      -->
<!--                                  Version: DexForce URDF assembly manager V2.0                                  -->
<!--                                            Included Modules: torso                                             -->
<!--                                           torso: {'version': 'v030'}                                           -->
<!--================================================================================================================-->
<robot name="torso__v030">
  <link name="torso_base"> </link>
  <link name="ankle_pitch_link">
    <inertial>
      <origin xyz="-0.0000327767 0.00553927 0.12592228" rpy="0 0 0" />
      <mass value="9.6908" />
      <inertia ixx="0.18987864" ixy="-0.00664494" ixz="-0.0000625" iyy="0.11219879" iyz="-0.02899362" izz="0.05037233" />
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="visual/torso/ankle_pitch_link.glb" />
      </geometry>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="collision/torso/ankle_pitch_link.obj" />
      </geometry>
    </collision>
  </link>
  <link name="knee_pitch_link">
    <inertial>
      <origin xyz="-0.0003528023 -0.0115196 0.10921598" rpy="0 0 0" />
      <mass value="6.2018" />
      <inertia ixx="0.10597255" ixy="-0.00329804" ixz="0.00024249" iyy="0.08123792" iyz="-0.01189165" izz="0.01156156" />
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="visual/torso/knee_pitch_link.glb" />
      </geometry>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="collision/torso/knee_pitch_link.obj" />
      </geometry>
    </collision>
  </link>
  <link name="buttock_pitch_link">
    <inertial>
      <origin xyz="-0.0000929575 -0.0149626 0.04360341" rpy="0 0 0" />
      <mass value="5.2157" />
      <inertia ixx="0.02577635" ixy="0.00002662" ixz="0.00004520" iyy="0.02022941" iyz="-0.03419117" izz="0.01339232" />
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="visual/torso/buttock_pitch_link.glb" />
      </geometry>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="collision/torso/buttock_pitch_link.obj" />
      </geometry>
    </collision>
  </link>
  <link name="waist_yaw_link">
    <inertial>
      <origin xyz="-0.0069195 0.0005918 0.16710355" rpy="0 0 0" />
      <mass value="10.2342" />
      <inertia ixx="0.16849185" ixy="0.00632124" ixz="0.00655671" iyy="0.19450103" iyz="0.00158772" izz="0.11925356" />
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="visual/torso/waist_yaw_link.glb" />
      </geometry>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="collision/torso/waist_yaw_link.obj" />
      </geometry>
    </collision>
  </link>
  <link name="upper_body_base"> </link>
  <joint name="ANKLE_PITCH" type="revolute">
    <origin xyz="0 0 0.2875" rpy="0 0 0" />
    <parent link="torso_base" />
    <child link="ankle_pitch_link" />
    <axis xyz="0 1 0" />
    <limit lower="-1.5707963267948966" upper="1.5707963267948966" effort="194" velocity="4.145" />
  </joint>
  <joint name="KNEE_PITCH" type="revolute">
    <origin xyz="0 0 0.34" rpy="0 0 0" />
    <parent link="ankle_pitch_link" />
    <child link="knee_pitch_link" />
    <axis xyz="0 1 0" />
    <limit lower="-2.705260340591211" upper="2.705260340591211" effort="194" velocity="4.145" />
  </joint>
  <joint name="BUTTOCK_PITCH" type="revolute">
    <origin xyz="0 0 0.34" rpy="0 0 0" />
    <parent link="knee_pitch_link" />
    <child link="buttock_pitch_link" />
    <axis xyz="0 1 0" />
    <limit lower="-1.5707963267948966" upper="1.9198621771937625" effort="194" velocity="4.145" />
  </joint>
  <joint name="WAIST_YAW" type="revolute">
    <origin xyz="0 0 0.153" rpy="0 0 0" />
    <parent link="buttock_pitch_link" />
    <child link="waist_yaw_link" />
    <axis xyz="0 0 1" />
    <limit lower="-3.7524578917878086" upper="2.181661564992912" effort="102" velocity="4.145" />
  </joint>
  <joint name="UPPER_BODY_BASE" type="fixed">
    <origin xyz="0 0 0.232" rpy="0 0 0" />
    <parent link="waist_yaw_link" />
    <child link="upper_body_base" />
  </joint>
</robot>
